html{
    position: relative;
    min-height: 100%;
}
body{
	background-image: url(pictures/pacman_s.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.btn-secondary{
    color: #ffffcc;
    background-color: black;
    border-color: #6c757d;
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  /* .header h5 {
    position: relative;
    top: 18px;
    left: 10px;
  } */
canvas{
  /* width: auto; */
  display: block;
  border: 3px solid black;
}   
#board{
    margin-left: 10%;
    width: 50%;
    padding: 0px;
}
.btn-group-lg>.btn, .btn-lg{
    margin-top:2%;
}
 .footer {
    position:absolute ;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 1rem; */
    background-color:black;
    text-align: center;
    color: #ffffcc;
    overflow: hidden;
  }  

  .form-group{
      margin: 0 auto;
      width: 50%;
  }
  label{
      padding-top:2%;
  }
#submit{
      margin-left: 30%;
      margin-top: 2%;
  }
  #confirm{
    /* margin-left: 10%; */
    margin-top: 2%;
    /* margin: 0 auto; */
    width: 78%;
  }  
  .btn-dark{
      width: 50%;
  }
  .text-muted{
      color: #ebe52d!important;
  }
  #login:hover {
    background-color: #ebe52d;
 }
 #sign_in:hover{
    background-color: #ebe52d;
 }
  .login{
      margin-top: 5%;
      margin-bottom: 5%;
     margin-left: 10%;
  }
  #options_screen{
        margin: auto;
        width: 40%;
        border: 3px solid #ecffb3;
        padding: 10px;
        position: relative;
        bottom: 50px;
  }
  #btn_options{
      margin-left: 40%;
      margin-top: 5%;
  }
  .upper{
      height: 50%;
      margin-left: 5%;
  }
  .cont{
      margin: auto 0;
  }
.form-row{
    margin-left: 0%;
    margin-right: 0%;
}
.lbls{
    color:#e6e6e6;
}
.about{
    color:#e6e6e6!important;
    font-family:Palatino Linotype;
    font-size: 20px;
    outline: none;
}
.input{
    display: inline-block;
    width: 100%;
}
div .circle {
    font-size: 15px;
    color: black;
    line-height: 35px;
    text-align: center;
     margin-right: 2%; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    display:block;    
}
#green{
    background:#ffd700;
}
#black{
    background:#a8b3bd;
}
#red{
    background:red;
}
.live{
    width: 30%;
    height: 30%;
    float: left;
    display:block; 
    margin-left: 2%;
}
.night{
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #eadd61, 0 0 30px #eadd61, 0 0 40px #eadd61, 0 0 50px #eadd61, 0 0 75px #eadd61;
letter-spacing: 5px;
font: 40px 'MisoRegular';}
.bg-white{
    background-color: black!important;
}
#life_count{
    /* margin-left: 5%; */
    display: inline-block;
    width: 100%;
}
.border-bottom{
    border-bottom: 1px solid black!important;
}